@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');



.bg {
  background-image: url("background.jpg");

  /* Full height */
  height: 100%;
  opacity: 0.2;

  /* Center and scale the image nicely */
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}


h1 {
  /*background-color: #4f5482;*/
  color: white; ##FF7F50;
  font-size: 55px;
  height: 50px;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 75px;
  font-style: italic;
  font-family: "Georgia";
  
  }


.Theme{

	/*width: 100%;
	height: 100%;*/
	text-align:  center;
	background: url("ocean_rainbow.jpg");
	background-size: 100% 110%;
	background-repeat:no-repeat;
	font-family: Georgia;	
	


}
#ThemeTitle{
	padding-top: 20%;
	font-size: 110px;
	font-weight: 400;
	color: white;
}

#ThemeSubTitle{
    font-size: 30px;
	font-weight: 50;
	color: white;
	padding: 10%;

}
#AboutMe{
		text-align:  center;
		font-family: Georgia;	
		padding-left:  10%;
		padding-right: 100px;
		padding-top:  50px;
		color: white;

}
#image{
	align-content: center;
	margin-left: 30%;
	margin-top: 10%;
	padding-bottom: 10%;

}
#image img{
	  width:40%;
	  height:35%;

	}
h3{
	color: white;
	font-family: Georgia;	
    font-size: 40px;
    text-align:  center;
    margin-right: 10%;
}

.Section a{
	color: white;
	background: red;
}

.Section{
	padding-top: 10px;

	padding-left: 3%;
	font-family: Georgia;	
	color: white;


}


.Section h2{
	color: white;

	

}


.Content{
	margin-left: 5%;
	color: white;
}

.col-sm-8{
	background: rgba(120,133,149, 0.5);

}
